<footer class="page-footer center-on-small-only primary-color-dark">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 col-md-offset-1">
                  <?php if ( is_active_sidebar( 'footer' ) ) : ?>
                  <?php dynamic_sidebar( 'footer' ); ?>
                  <?php endif; ?>
                </div>

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2">
                    <h5 class="title">First column</h5>
                    <?php
                    wp_nav_menu( array(
                    'menu'              => 'footer1',
                    'theme_location'    => 'footer1',
                    'depth'             => 1
                    )
                    );
                    ?>
                </div>
                <!--/.Second column-->  

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Second column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->