/*
Theme Name: MDB Blog
Theme URI: http://www.mdbootstrap.com 
Description: This is outstanding WP Blog theme developed on Material Design for Bootstrap 4
Version: 1
Author: MDBootstrap.com
Author URI: http://www.mdbootstrap.com
*/

#content {
  padding-top: 3rem;
  padding-bottom: 2rem;
} 
#single_content{
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.cat-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.current-cat{
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.current-cat>a{
  color: #fff;  
}
.para_head {
  background: url("images/Mountain-wallpaper-HD.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
}
.scrollToTop{
  width:100px; 
  height:130px;
  padding:10px; 
  text-align:center; 
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:75px;
  right:40px;
  display:none;
  background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
  text-decoration:none;
}
#poto_1{
  margin-top: 25px;
}
#poto_2{
  margin-top: 20px;
}
#poto_3{
  margin-top: 25px;
}